{% extends 'layout/page.html.twig' %}

{% block title %}Event index{% endblock %}

{% block content %}
    <h1>Event index</h1>

    {{ include('event/_event_list.html.twig') }}


    {% if app.user %}
    <a class="button" href="{{ path('event_new') }}">Add new event</a>
    {% endif %}
{% endblock %}
