{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="button">Add city</button>
    <button type="reset" class="button" data-toggle="new-city-form-container">Cancel</button>
{{ form_end(form) }}
